#chat__user__title {
    text-align: center;
    font-size : 18px;
    font-weight : bold;
    padding : 15px;
    border-top : 2px solid #272929;;
    background-color: #2F3334;
}

#chat__user__close {
    margin : 10px auto 0px;
    border-radius : 7px;
    display : block;
    padding : 10px 20px;
    font-size : 16px;
    height : auto;
}

#chat__users {
    max-height : 100%;
    text-align: center;
    padding : 10px;
    overflow-x : hidden;
    overflow-y : auto;
}

#filter__users {
    display : block;
    margin : 0px auto;
    width : 80%;
    padding : 7px 15px;
    border-radius : 7px;
    border : none; 
    outline: none;
    box-sizing: border-box;
    transition: outline 0.6s linear;
    background-color : darkgray;
    transition: background-color 0.3s linear , box-shadow 0.3s linear;
}

#filter__users:focus {
    background-color : white;
    box-shadow: 0 0 0 2px var(--green);
}

.broadcast__user , .room__users {
    text-align: left;
}

.chat-section-title {
    font-size : 16px;
    margin-bottom : 0px;
}

.room-user-list {
    margin-top : 5px;
}

.room-user-list li {
    font-size : 15px;
    padding-left : 5px;
    margin : 5px 0px;
}