@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,700&display=swap');


:root {
  --green : #1BAA65;
  --green-rgb : 27 , 170, 101;
  --blue : #669BBC;
  --blue-rgb : 102 , 155 , 188;
  --dark-blue : #94B0DA;
  --dark-blue-rgb : 148 , 176 , 218;
  --black : #353535;
  --black-rgb : 53 , 53, 53;
  --white : #fff;
  --white-rgb : 255 , 255 , 255;
  --orange : #E4572B;
  --orange-rgb : 228 , 87 , 43;
  --red : #DB3A34;
  --red-rgb : 219 , 58 , 52;
  --yellow : #EAC435;
  --yellow-rgb : 234 , 196 , 53;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
  scroll-behavior: smooth;
}

ul {
  padding : 0;
  list-style-type: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D3132), to(#202323));
  background: linear-gradient(to bottom, #2D3132, #202323);
  /* overflow : visible; */
}

a {
  color: rgb(140, 209, 255);
}

a:active {
  color: rgb(85, 158, 180);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Rounded */

.rounded {
  border-radius : 7px;
}

/* Exit Button */

.exit {
  position : relative;
  width : 15px;
  height : 15px;
  cursor : pointer;
}


.exit::before , .exit::after {
  transition: background-color 0.3s linear;
  content : "";
  position: absolute;
  height : 100%;
  width : 4px;
  transform: rotate(45deg);
  border-radius : 10px;
}

.exit::before {
  transform: rotate(45deg);
}

.exit::after {
  transform: rotate(-45deg);
}
