:root {
  --green : #1BAA65;
  --blue : lightblue;
  --black : #000;
  --white : #fff;
  --orange : orange;
  --red : #dc3545;
  --dark-grey : #343a40;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  padding : 0;
  list-style-type: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D3132), to(#202323));
  background: linear-gradient(to bottom, #2D3132, #202323);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
