* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding : 10px 15px;
  min-width : 125px;
  font-size : 14px;
  border-radius : 7px;
  border : none;
  cursor : pointer;
}

.btn-primary {
  background-color : #007bff;
  color : white;
}

.btn-info {
  background-color : #17a2b8
}

.btn-success {
  background-color : #28a745;
}

.btn-warning {
  background-color : #ffc107;
}

.btn-danger {
  background-color : #dc3545;
}

.btn-dark {
  background-color : #343a40;
}

.btn-secondary {
  background-color : #6c757d;
}

.btn-light {
  background-color : #f8f9fa;
}

.btn-white {
  background-color : #ffffff;
}