.btn-ctn {
    background-color : var(--green);
    border : none;
    position: relative;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    padding: 9px 30px;
}