.navbar__ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 20px 260px;
    background-color : transparent;
}
  
.navbar__ctn .logo {
  color: white;
  font-size: 16px;
  flex: 1;
}
  
.navigation ul {
  list-style-type: none;
  padding: 0;
}
  
.navigation ul li {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
  
.navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight : 600;
  text-transform: uppercase;
}

.navigation ul li button {
  padding: 4px 20px;
}
  
.navigation-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width : 900px) {
  .navbar__ctn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width : 100%;
    padding: 20px 200px;
  }

  .navbar__ctn .navigation ul li {
    margin: 10px 0px;
    padding: 5px;
    width: 100%;

  }
  .navbar__ctn .navigation ul li a {
    display: block;
    font-size : 14px;
    width: 100%;
  }
}