header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    background-color : #121212;
}
  
header .logo {
  color: white;
  font-size: 16px;
}
  
.navigation ul {
  list-style-type: none;
  padding: 0;
}
  
.navigation ul li {
  display: inline-block;
  margin: 0px 10px 0px;
  text-align: center;
}
  
.navigation ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight : 500;
  text-transform: uppercase;
}
  
.navigation-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width : 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width : 100%;
  }

  header .navigation ul li {
    margin: 10px 0px;
    padding: 5px;
    width: 100%;
    display: block;
  }
  header .navigation ul li a {
    display: block;
    font-size : 14px;
  }
}