.roomSettingModal__ctn {
    position: absolute;
    background-color: rgb(34, 34, 34);
    width: 500px;
    padding: 50px;
    border-radius: 5px;
}

.roomSettingModal__ctn > h2 {
    margin-bottom: 25px;
    font-weight: bold;
}

.roomSettingModal__ctn > input {
    display: block;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
}

.roomSettingModal__ctn > input {
    display: block;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
}



#isPrivateInput {
    display: inline-block;
    width: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

#RoomPasswordInput,
#RoomNameInput {
    width: 70%;
}

#RoomPasswordInput {
    margin-top: 0;
}

#RoomMaxUserInput {
    width: 40%;
}

#RoomApplyBtn {
    font-weight: bold;
    background-color: #1BAA65;
    color:whitesmoke;
}

#RoomApplyBtn:hover {
    background-color: #199e6b;
}