.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  
.hero-container {
    color: white;
    padding: 20px 250px;
    margin-top: 0;
    min-height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}


.hero-container .hero-graphic {
    width: 55%;
}
.hero-container .hero-graphic img {
    display: inline-block;
    width: 100%;
}

.hero-container .hero-content {
    padding: 10px;
}

.hero-container .button-group {
    margin: 10px 0px;
}

.hero-container .button-group .btn-ctn {
    transition : color 0.4s linear;
    margin-left : 10px;
}

.hero-container .button-group .btn-ctn:hover {
    color : black;
}

.hero-title {
    font-size: 27px;
    width: 80%;
    margin: 0;
    margin-bottom: 13px;
}
  
.hero-body {
    font-size: 14px;
    line-height: 25px;
    width: 80%;
    margin: 0;
    margin-bottom: 40px;
}

.hero-content .button-group button {
    padding: 5px 20px;
    font-size: 16px;
}

.hero-content .button-group button:nth-of-type(1) {
    font-weight: bold;
} 

.hero-content .button-group button:nth-of-type(2) {
    font-weight: lighter;
} 

.section-container {
    background-color : white;
    width: 100%;
}

.section-feature {
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    padding: 140px 0;
    width: 60%;
    
}
  
.section-content {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 50%;
    vertical-align: middle;
}
  
.section-content .section-title {
    font-size: 28px;
    width: 90%;
    text-align: left;
}
  
.section-content .section-body {
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    width: 90%;
    color: #454545;
}

.section-content:nth-of-type(2) .section-title,
.section-content:nth-of-type(2) .section-body{
    text-align: right;
    margin-left: auto;
}

.section-graphic {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.section-graphic img {
    display: block;
    width: 80%;
    height: auto;
    -webkit-filter: drop-shadow(5px 10px 5px #ae9a9a);
    filter: drop-shadow(5px 10px 5px #ae9a9a);
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.section-graphic:nth-of-type(2) img {
    margin-left: auto;
}
  
.section-feature:nth-child(odd) .section-graphic {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
  
.video-clip-container {
    position: relative;
}
  
.video-clip {
    position: absolute;
    top: 18%;
    left: 22.5%;
    max-width: 55%;
    max-height: 50%;
}
  
.video-clip video {
    height: 100%;
    width: 100%;
}
  
.section-graphic:nth-child(odd) img:hover {
    -webkit-transform: translate(20px);
    transform: translate(20px);
}

.private-room {
    background-color : white;
    padding: 100px 10px;
    text-align: center;
}
  
.private-room button {
    margin-top: 20px;
}

footer {
    padding: 50px 0px;
    text-align: center;
    color: white;
}

footer .footer-cols {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 20%;
    margin: auto;
}
  
footer .footer-cols .footer-col h1 {
    font-size: 16px;
}
  
footer .footer-cols a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
}
  
footer .footer-cols a:hover {
    text-decoration: underline;
}
  
footer p {
    margin-bottom: 0;
    font-size: 14px;
    color: gray;
}

@media only screen and (min-width: 0px) and (max-width: 1400px) {
    .hero-container {
        padding: 0;
    }
    .hero-container .hero-graphic {
        width: 90%;
    }

    .hero-container .hero-content {
        width: 100%;
    }

    .hero-title {
        margin: 13px auto;
        font-size: 32px;
    }

    .hero-body {
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 30px;
    }

    .hero-container .hero-graphic {
        margin-top: 20px;
    }

    .section-feature {
        width: 80%;
        margin: 0 auto;
    }

    .section-content {
        width: 100%;
        display: block;
        text-align: center;
    }

    
    .section-graphic {
        width: 100%;
    }

    .section-graphic img {
        width: 100%;
    }

    .section-content .section-title,
    .section-content .section-body {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .section-content:nth-of-type(2) .section-title,
    .section-content:nth-of-type(2) .section-body{
        text-align: center;
        margin-right: auto;
    }


    footer .footer-cols {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .video-clip {
        position: absolute;
        top: 18%;
        left: 5.5%;
        max-width: 66.5%;
        max-height: 50%;
    }
      
    .video-clip video {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 800px)  {
    .hero-container {
        padding: 20px 100px;
    }
    .section-graphic img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .video-clip {
        left: 13%;
    }

    .hero-container .hero-graphic {
        width: 60%;
    }
}

@media only screen and (min-width: 1400px) {
    
    .hero-container {
      min-height: 70vh;
      padding: 20px 250px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    .hero-container .hero-content {
      text-align: left;
      -ms-flex-preferred-size: 800px;
          flex-basis: 800px;
    }

    .section-feature .section-content .section-title {
      font-size: 32px;
    }
    .section-feature .section-content .section-body {
      font-size: 20px;
    }

    .section-graphic img {
        width: 80%;
        margin-left: auto;
        margin-right: 0;
    }

    .section-graphic:nth-of-type(1) img {
        margin-left: 0;
    }
      
    .video-clip {
        left: 22.5%;
    }
}


